//Header
.menu{
	background-color: $df-color;
	@extend %box-shadow;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
	color: #fff;
	a {
		color: #fff;
	}
	h1,
	h2, {
		font-weight: 700;
		font-size: 25px;
		margin: 9px auto;
	}
	h2 {
		text-align: center;
	}
	.dropdown {
		text-transform: capitalize;
		> {
			a:hover,
			a:focus,
			a:active {
				background-color: $df-color-dark;
			}
		}
	}
	.fa {
		font-size: 27px;
		margin-right: 10px;
	}
}