//Posts
article.post {
	margin-bottom: 50px;
	padding: 15px;
	color: #1d1d1d;
	@extend %box-shadow;
	.post-header {
		color: $df-color-dark;
		margin: 15px 0;
		border-bottom: 1px solid $df-color-dark;
		padding-bottom: 3px;	
	}
	p {
		margin: 10px 0;
	}
	a {
		text-decoration: underline;
		color: #1d1d1d;
	}
	.post-info {
	    margin: 10px 0;
	    font-style: italic;
	}
	.post-desc {
		border-bottom: 1px solid $df-color-dark;
	}
	.comments {
		margin: 10px 0;
		.comment:hover {
			background-color: #f2f2f2;
		}
	}
	#comentario {
		height: 32px;
		padding-right: 5px;
		margin-bottom: 10px;
	}
}



//Novo Post
#abrir_novo_post {
	position: fixed;
	right: 19px;
	width: 45px;
	height: 45px;
	bottom: 15px;
	font-size: 35px;
	border-radius: 50%;
	line-height: 31px;
	color: #fff;
	background-color: $df-color;
	border: none;
	&:hover {
		background-color: $df-color-dark;
	}
}