@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");
@import url(../css/bootstrap.min.css);
@import url(../css/font-awesome.min.css);
.menu, article.post, .login-page .form-signin {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2); }

.menu {
  background-color: #69B92D;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  color: #fff; }
  .menu a {
    color: #fff; }
  .menu h1,
  .menu h2 {
    font-weight: 700;
    font-size: 25px;
    margin: 9px auto; }
  .menu h2 {
    text-align: center; }
  .menu .dropdown {
    text-transform: capitalize; }
    .menu .dropdown > a:hover,
    .menu .dropdown > a:focus,
    .menu .dropdown > a:active {
      background-color: #467b1e;
      float: right; }
  .menu .fa {
    font-size: 27px;
    margin-right: 10px; }

article.post {
  margin-bottom: 50px;
  padding: 15px;
  color: #1d1d1d; }
  article.post .post-header {
    color: #467b1e;
    margin: 15px 0;
    border-bottom: 1px solid #467b1e;
    padding-bottom: 3px; }
  article.post p {
    margin: 10px 0; }
  article.post a {
    text-decoration: underline;
    color: #1d1d1d; }
  article.post .post-info {
    margin: 10px 0;
    font-style: italic; }
  article.post .post-desc {
    border-bottom: 1px solid #467b1e; }
  article.post .comments {
    margin: 10px 0; }
    article.post .comments .comment:hover {
      background-color: #f2f2f2; }
  article.post #comentario {
    height: 32px;
    padding-right: 5px;
    margin-bottom: 10px; }

#abrir_novo_post {
  position: fixed;
  right: 19px;
  width: 45px;
  height: 45px;
  bottom: 15px;
  font-size: 35px;
  border-radius: 50%;
  line-height: 31px;
  color: #fff;
  background-color: #69B92D;
  border: none; }
  #abrir_novo_post:hover {
    background-color: #467b1e; }

.login-page {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%); }
  .login-page * {
    border-radius: 0 !important; }
  .login-page .form-signin {
    max-width: 400px;
    margin: auto;
    padding: 15px; }
  .login-page .form-signin-heading {
    color: #467b1e; }
  .login-page input[type="text"] {
    border-bottom: 0; }
  .login-page button {
    background-color: #69B92D;
    color: #fff !important;
    border: none; }
    .login-page button:hover, .login-page button:active, .login-page button:focus {
      background-color: #467b1e; }

body {
  padding-top: 70px;
  background-color: #fff;
  position: relative;
  font-family: 'Roboto', sans-serif; }

main {
  z-index: 5;
  margin: auto;
  height: 100%; }
  main .container {
    padding: 15px; }

.ifBlock {
  max-width: 650px;
  margin: auto; }

.centered {
  display: flex;
  align-items: center; }

.btn-if {
  border: none;
  border-radius: 0;
  background-color: #69B92D; }
  .btn-if:hover {
    background-color: #467b1e; }

input {
  border: none;
  border-bottom: 1px solid #69B92D; }
  input:hover, input:active, input:focus {
    border-bottom: 1px solid #467b1e;
    box-shadow: none; }

a {
  color: #fff; }
  a:hover {
    color: #fff; }

.title {
  font-weight: 700;
  font-size: 17px; }

/*# sourceMappingURL=main.css.map */
