<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="dist/img/favicon.ico">

    <title>Caderno Colaborativo</title>

    <!-- Bootstrap core CSS -->

    <!-- Custom styles for this template -->
    <link href="dist/css/main.css" rel="stylesheet">
  </head>

  <body>
    <nav class="menu">
      <div class="container">
        <div class="row centered">
          <div class="col-md-4 col-xs-4">
            <h1><i class="fa fa-camera-retro"></i><b class="hidden-xs">Caderno colaborativo</b></h1>
          </div>
          <div class="col-md-4 col-xs-8 page">
            <h2>Home</h2>
          </div>
          <div class="col-md-4 hidden-xs">
            <span>Cadastro</span>
            <span>|</span>
            <span><a href="login.html">Login</a></span>
          </div>
        </div>
      </div>
    </nav>

      <!-- Main content -->
      <main>
        <div class="container">

          <!-- Posts -->
          <article class="post ifBlock">
            <h4>Titulo do post</h4>
            <div class="post-img">
              <img src="dist/img/aula.jpg" class="img-responsive">
            </div>
            <div class="post-info clearfix">
              <span>
                Autor: Luís Takahashi
              </span>
              <span>
                Professor: Bortoletto
              </span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non porta lectus. Vestibulum tempor fermentum est, eu blandit ipsum ultrices a. Pellentesque gravida, odio at congue elementum, nibh elit pellentesque dolor, a suscipit turpis lacus ac nisl. Nullam suscipit, tortor eget dapibus ullamcorper, dolor justo finibus nulla, vitae ultricies dolor turpis non mauris. Curabitur ornare eu risus sit amet efficitur. Proin molestie nunc sed mi fringilla, non egestas eros lobortis. Cras fringilla dolor viverra quam interdum, ut iaculis ipsum feugiat. Vestibulum purus odio, venenatis nec nisl a, pellentesque laoreet erat. Curabitur tempor ligula ac nisl faucibus aliquet. Duis consequat neque vel lorem finibus ullamcorper. Ut tempor condimentum erat, vitae mollis mi porttitor nec. Integer maximus nibh ac lobortis semper. Nam semper metus in velit tristique mattis. </p>
            <span><a href="#">Saiba mais</a></span>
          </article>
          <article class="post ifBlock">
            <h4>Titulo do post</h4>
            <div class="post-img">
              <img src="dist/img/bannerif.jpg" class="img-responsive"> 
            </div>
            <div class="post-info clearfix">
              <span>
                Autor: Luís Takahashi
              </span>
              <span>
                Professor: Bortoletto
              </span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non porta lectus. Vestibulum tempor fermentum est, eu blandit ipsum ultrices a. Pellentesque gravida, odio at congue elementum, nibh elit pellentesque dolor, a suscipit turpis lacus ac nisl. Nullam suscipit, tortor eget dapibus ullamcorper, dolor justo finibus nulla, vitae ultricies dolor turpis non mauris. Curabitur ornare eu risus sit amet efficitur. Proin molestie nunc sed mi fringilla, non egestas eros lobortis. Cras fringilla dolor viverra quam interdum, ut iaculis ipsum feugiat. Vestibulum purus odio, venenatis nec nisl a, pellentesque laoreet erat. Curabitur tempor ligula ac nisl faucibus aliquet. Duis consequat neque vel lorem finibus ullamcorper. Ut tempor condimentum erat, vitae mollis mi porttitor nec. Integer maximus nibh ac lobortis semper. Nam semper metus in velit tristique mattis. </p>
            <span><a href="#">Saiba mais</a></span>
          </article>
          <article class="post ifBlock">
            <h4>Titulo do post</h4>
            <div class="post-img">
              <img src="dist/img/aula1.jpg" class="img-responsive">  
            </div>
            <div class="post-info clearfix">
              <span>
                Autor: Luís Takahashi
              </span>
              <span>
                Professor: Bortoletto
              </span>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non porta lectus. Vestibulum tempor fermentum est, eu blandit ipsum ultrices a. Pellentesque gravida, odio at congue elementum, nibh elit pellentesque dolor, a suscipit turpis lacus ac nisl. Nullam suscipit, tortor eget dapibus ullamcorper, dolor justo finibus nulla, vitae ultricies dolor turpis non mauris. Curabitur ornare eu risus sit amet efficitur. Proin molestie nunc sed mi fringilla, non egestas eros lobortis. Cras fringilla dolor viverra quam interdum, ut iaculis ipsum feugiat. Vestibulum purus odio, venenatis nec nisl a, pellentesque laoreet erat. Curabitur tempor ligula ac nisl faucibus aliquet. Duis consequat neque vel lorem finibus ullamcorper. Ut tempor condimentum erat, vitae mollis mi porttitor nec. Integer maximus nibh ac lobortis semper. Nam semper metus in velit tristique mattis. </p>
            <span><a href="#">Saiba mais</a></span>
          </article>
          <!-- /Posts -->

        </div> 
      </main>

  


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
